:root {
  --z-index-overlay: 3;
  --z-index-content: 2;
  --z-index-mouse-effect: 1;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

html,
body {
  background: black;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .2s
}

a:hover {
  opacity: 0.7;
  color: #0080ff;
}

main {
  position: relative;
  z-index: var(--z-index-content);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 60px 40px;
  color: #ffffff;
  position: relative;
}

.content__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.content__logo,
.content__personal-info {
  margin-bottom: 80px
}

.content__logo {
  width: 40px;
  height: 40px;
}

.logo {
  cursor: pointer;
}

.logo:hover .logo__bg-parts {
  transform: translateX(0);
}

.logo__bgs {
  clip-path: url(#logo__mask);
}

.logo__bg-default {
  width: 100%;
  height: 100%;
  fill: white;
}

.logo__bg-parts {
  transform: translateX(100%);
  transition: 0.4s;
}

.logo__bg-part {
  width: 14.28%;
  height: 100%;
}

.logo__bg-part_1 {
  fill: #ff0402;
}

.logo__bg-part_2 {
  transform: translateX(calc(14.28%));
  fill: #ff8040;
}

.logo__bg-part_3 {
  transform: translateX(calc(14.28% * 2));
  fill: #ffff03;
}

.logo__bg-part_4 {
  transform: translateX(calc(14.28% * 3));
  fill: #03ff02;
}

.logo__bg-part_5 {
  transform: translateX(calc(14.28% * 4));
  fill: #0580ff;
}

.logo__bg-part_6 {
  transform: translateX(calc(14.28% * 5));
  fill: #010380;
}

.logo__bg-part_7 {
  transform: translateX(calc(14.28% * 6));
  fill: #800280;
}

svg {
  width: 100%;
  height: 100%;
}

.content__position {
  font-weight: 500;
  font-size: 0.9em;
  opacity: 0.7;
  margin-bottom: 3px;
}

.content__name {
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}

.contact__label {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 0.9em;
  opacity: 0.7;
}

.contact__value {
  font-weight: 300;
  color: white;
}

.content__contact {
  margin-bottom: 30px
}

.link-icon {
  display: inline-block;
  color: #ffffff;
  font-size: 1.5em;
  margin-right: 15px;
  transition: .2s
}

.link-icon_tg {
  transform: scale(0.8);
}

.overlay {
  position: fixed;
  z-index: var(--z-index-overlay);
  background: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: fadeOut 1s 0.5s forwards;
}

.mouse-effect {
  position: fixed;
  z-index: var(--z-index-mouse-effect);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width:768px) {
  main {
    min-height: auto;
  }

  .content {
    padding: 20px 4.5vw;
  }

  .content__logo {
    margin-bottom: 40px;
  }

  .content__personal-info {
    margin-bottom: 40px;
  }
}